/* Board.css */

.board-container {
  display: flex;
  justify-content: left;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
}

.board-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 15px;
  gap: 20px;
}

.board {
  flex: 1;
}

.board-importer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.control-panel {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.commentary-box {
  flex: 1;
  height: calc(100vh - 500px);
  max-height: calc(100vw - 500px);
  overflow-y: scroll;
}

.engine-selector {
  display: flex;
  margin-right: auto;
}